<!--  add-medicine.html -->

<div class="container">
  <br><h4 style="font-weight: bold; text-align: center;">Add New Medicine</h4><hr><br>

  <form (ngSubmit)="onSubmit()">

    <div class="form-group" >
      <label for="name">Medicine Name</label>
      <input [(ngModel)]="medicine.name" type="text" class="form-control" id="name" name="name">
    </div><br>
    <div class="form-group">
      <label for="company">Company Name</label>
      <input type="text" class="form-control" id="company" [(ngModel)]="medicine.company" name="company">
    </div><br>
    <div class="form-group">
      <label for="expiry_date">Expiry Date</label>
      <input type="date" class="form-control" id="expiry_date" [(ngModel)]="medicine.expiry_date" name="expiryDate">
    </div><br>
    <button type="submit" class="btn btn-primary ">Add</button>
    
  </form>
</div>
